html,body { 
	padding: 0;
	margin: 0;
}

.hero {
	background: url(../images/Background2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.title {
	font-family:'Open Sans', sans-serif;
	position: relative;
	bottom: -200px;
	font-size: 35px;
	background-color: rgba(0,0,0,0);
	color: #F0F8FF;
	padding: 10px;
	padding-top: 5px;
	height: 60px;
	width: 1000px;
	margin:0px auto;

}

.title::after{
	content:'';
	height:1px;
	width: 49%;
	position:absolute;
	background-color: #F0F8FF;
	left:25.5%;
	bottom: -85px;
}

.intro {
	font-size: 15px;
	font-family:'Open Sans', sans-serif;
	position: relative;
	bottom: -285px;
	font-size: 35px;
	background-color: rgba(0,0,0,0);
	color: #F0F8FF;
	padding: 10px;
	padding-top: 5px;
	height: 50px;
	width: 540px;
	margin:0px auto;
}

.intro em {
	color: 006400;
}

.about {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	margin: 0px auto;
	width: 100%;
	right: -48px;
	top: -950px;
	position: relative;
}

.hello {
	font-family: 'Open Sans', sans-serif;
	top: -1015px;
	position: relative;
	width: 350px;
	font-size: 25px;
	left: -17px;
	font-weight: normal;


}

.hello::after {
	content:'';
	height:1px;
	width: 1000px;
	position:absolute;
	background-color: #A9A9A9;
	left: -315px;
	bottom: -35px;
}


.mail_button {
	position: relative;
	bottom: -310px;
	font-size: 25px;
	width: 28px;
	height: 27px;
	margin:5px auto;
	background-color: (0,50,0,0.25);
	padding: 2px;
	border-radius: 5%;
}

.profile_pic {
	position: relative;
	height: 300px;
	width: 300px;
	margin: 0px auto;
	border-radius: 50%;
	bottom: -150px;
	
	z-index: -1;
}

.about_me {
	font-family: "Open Sans", sans-serif;
	top: -575px;
	position: relative;
	left: 350px;
}


.my_goals {
	font-family: "Open Sans", sans-serif;
	top: -635px;
	left: 1050px;
	position: relative;
}

.second_background {
	height:100px;
	width: 100px;
	color: 006400;
	background-color: (0,0,0,0.25);
}


.content {
	background-color: rgba(0,0,0,0.25);
	position: relative;
	bottom: -500px;
	color: black;
	padding: 40px;
	height: 300px;
	width:300px;
	margin:100px auto; 
	border-radius: 5%;
}
	
.buttons {
	padding: 5px;
	background-color: rgba(126, 44, 44, 0.25);
	width: 220px;
	margin:100px auto;
}	

