html,body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.hero {
	height: 100vh;
	position: relative;
	background: url(../images/Background2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title-page {
	font-family:'Open Sans', sans-serif;
	width: 600px;
	padding-bottom: 125px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F0F8FF;
}

#cole{
	font-size: 75px;
	font-weight: 600;	
}

.hero i {
	font-size: 25px;
	padding-top: 25px;
}

.above_col{
	text-align: center;
}

#profile {
	font-size: 75px;
	padding-top: 50px;
	color: #5F9EA0;

}

#profile_pic {
	width: 95%;
	border-radius: 50%;
	border: 10px solid #FDF5E6;
}

.content {
	height: 490px;
}

.left {
	text-align: center;
	padding-top: 50px;
}

.center {
	text-align: center;

}

#second_line {
	width: 62%;
	background-color: grey; height:1px; 
}

#about {
	
	color: #5F9EA0;
}

#hello {
	color: #808080;
}

.bio-para {
	font-size: 15px;
	text-align: left;
	padding: 0 50px ;
}

#para {
	padding-left: 75px;
}


#goal {
	color: #5F9EA0;
	
}

.projects {
	background-color: #BFD4DC ;
	height: 1600px;
	width: 100%;
}

#header3 {
	font-size: 75px;
	padding-top: 50px;
	color: #5F9EA0;
	text-align: center;
}

#borderline3 {
	width: 80%;
	padding-top: 
}

.images_pg3 {
	padding-left: 200px;
}

#battlesnake {
	width: 60%;
	border-radius: 15px;
	margin-bottom: 60px;
	margin-top: 50px;
}

#commenter {
	width: 60%;
	border-radius: 15px;
	margin-bottom: 60px;
}

#starship {
	width: 60%;
	border-radius: 15px;
	margin-bottom: 60px;
}

#draw {
	width: 60%;
	border-radius: 15px;
	margin-bottom: 60px;
}

#website {
	width: 60%;
	border-radius: 15px;
	margin-bottom: 60px;
}

